<h1><center><u><b>Join Queries</h1></center></u></b>

![](https://3.bp.blogspot.com/-T3AF_1dtm8o/We25HQL809I/AAAAAAAAA2E/tKsbZGd2Ev0woezzYxiKBUIGGNkXYKAlQCLcBGAs/s1600/sql-joins.png)

### **DATABASE CREATION AND CONNECTING IT**

#### **Just run next 4 cells**

In [2]:
## JUST RUN THIS CELL
import sqlite3
import pandas as pd

In [3]:
# run this to create and connect to database
connection = sqlite3.connect('cloud1.db')

In [4]:
%load_ext sql

In [5]:
# connecting to cloud.db
%sql sqlite:///cloud1.db

###**NOW WE WILL CREATE TABLES AND INSERT DATA**
##### **RUN NEXT 8 CELLS TO CREATE TABLE AND INSERT DATA**

In [5]:
%%sql

CREATE table album (id int(16), artist_id int(25), name varchar(100), year int(10))

 * sqlite:///cloud1.db
Done.

[]

In [6]:
%%sql
INSERT INTO album (id, artist_id, name, year) VALUES(1,	1, 'Devils got a new disguise', 2006),
(2,1,'Keeps getting better',2008),(3,	1,'Master of Puppets',1986),(4,	2,'Endgame',2009),
(5,	2,'Icon',2012),(6,3,'Story',2000),(7,4,'Chapters',2003),
(8,4,'Riding with the King',2000),(9,5,'Pieces of a Dream',2005),(10,6,'Greatest Hits',2004),
(11,7,'All-Time Greatest Hits',1975),(12,8,'Greatest Hits',1983),(13,9,"Ultimate Collection",2015)

 * sqlite:///cloud1.db
13 rows affected.

[]

In [7]:
%%sql

CREATE table song (id int(10), album_id int(50), name varchar(50), duration float(20))

 * sqlite:///cloud1.db
Done.

[]

In [8]:
%%sql
INSERT INTO song (id, album_id, name, duration) VALUES(1,1,'Dream On',4.26),(2,1,'Back in the Saddle',4.40),
(3,2,'Genie in a Bottle',5.3),(4,2,'Beautiful',5.29),(5,3,'Master of Puppets',8.35),
(6,3,'Battery',5.13),(7,4,'Dialectic Chaos',2.26),(8,4,'Endgame',5.57),(9,5,'Watching Airplanes',4.03),
(10,5,'Man to Man',3.41),(11,6,'Balck Winter Day',3.48),(12,6,'Against Widows',4.04),(13,7,'Reptile',3.36),
(14,7,'Modern Girl',4.49),(15,8,'Riding with the King',4.23),(16,8,'Key to the Highway',3.39),
(17,9,'Im Outta Love',4.02),(18,9,'Not That Kind',3.20),(19,10,'Eruption',1.43),(20,10,'Hot For Teacher',4.43),
(21,11,'Sweet Home Alabama',4.45),(22,11,'Free Bird',14.23),(23,12,'Thunderstruck',4.52),(24,12,'T.N.T',3.35),
(25,13,"Sgt. Pepper's Lonely Hearts Club Band",2.0333),(26,13,'With a Little Help from My Friends',2.7333),
(27,13,'Lucy in the Sky with Diamonds',3.4666),(28,13,'Getting Better',2.8),(29,13,'Fixing a Hole',2.6),
(30,13,"She's Leaving Home",3.5833),(31,13,'Being for the Benefit of Mr. Kite!',2.6166),
(32,13,'Within You Without You',5.066),(33,13,"When I'm Sixty-Four",2.6166),(34,13,'Lovely Rita',2.7),
(35,13,'Good Morning Good Morning',2.6833),(36,13,"Sgt. Pepper's Lonely Hearts Club Band (Reprise)",1.3166),(37,13,'A Day in the Life',5.65)

 * sqlite:///cloud1.db
37 rows affected.

[]

In [9]:
%%sql

CREATE table record_label (id int(10), name varchar(50))

 * sqlite:///cloud1.db
Done.

[]

In [10]:
%%sql
INSERT INTO record_label (id, name) VALUES(1,'Blackened'),
(6,'Capitol'),
(5,'Elektra'),
(4,'MCA'),
(3,'Universal'),
(2,'Warner Bros')

 * sqlite:///cloud1.db
6 rows affected.

[]

In [11]:
%%sql

CREATE table artist (id int(10), record_label_id int(10), name varchar(50))

 * sqlite:///cloud1.db
Done.

[]

In [12]:
%%sql
INSERT INTO artist (id, record_label_id, name) VALUES(3,1,'Anthrax'),
(2,1,'Christina'),
(1,1,'Aerosmith'),
(4,2,'Eric Clapton'),
(6,2,'Amorphis'),
(5,2,'Gary Allan'),
(8,3,'AC/DC'),
(7,3,'Lynyrd Skynyrd'),
(9,6,'Anastacia')

 * sqlite:///cloud1.db
9 rows affected.

[]

### **`refer this link to know about joins:`**
https://www.w3schools.com/sql/sql_join.asp

### **`refer this link to know more on how to join 3 or more tables :`**
https://learnsql.com/blog/how-to-join-3-tables-or-more-in-sql/


### **`refer this link to know about inner join :`**
https://www.w3schools.com/sql/sql_join_inner.asp

### **`refer this link to know about left join :`**
https://www.w3schools.com/sql/sql_join_left.asp

### **`refer this link to know about right join :`**
https://www.w3schools.com/sql/sql_join_right.asp

### **`refer this link to know about full join :`**
https://www.w3schools.com/sql/sql_join_full.asp

### **`refer this link to know about self join :`**
https://www.w3schools.com/sql/sql_join_self.asp

## **Great.... Now You Are Ready To Apply Learnings On Tables We Created**

<b>1.Show all the 4 tables(album, song, record label and artist)</b>

In [14]:
%%sql

select * from album

 * sqlite:///cloud1.db
Done.

[(1, 1, 'Devils got a new disguise', 2006),
 (2, 1, 'Keeps getting better', 2008),
 (3, 1, 'Master of Puppets', 1986),
 (4, 2, 'Endgame', 2009),
 (5, 2, 'Icon', 2012),
 (6, 3, 'Story', 2000),
 (7, 4, 'Chapters', 2003),
 (8, 4, 'Riding with the King', 2000),
 (9, 5, 'Pieces of a Dream', 2005),
 (10, 6, 'Greatest Hits', 2004),
 (11, 7, 'All-Time Greatest Hits', 1975),
 (12, 8, 'Greatest Hits', 1983),
 (13, 9, 'Ultimate Collection', 2015)]

In [15]:
%%sql
select * from song

 * sqlite:///cloud1.db
Done.

[(1, 1, 'Dream On', 4.26),
 (2, 1, 'Back in the Saddle', 4.4),
 (3, 2, 'Genie in a Bottle', 5.3),
 (4, 2, 'Beautiful', 5.29),
 (5, 3, 'Master of Puppets', 8.35),
 (6, 3, 'Battery', 5.13),
 (7, 4, 'Dialectic Chaos', 2.26),
 (8, 4, 'Endgame', 5.57),
 (9, 5, 'Watching Airplanes', 4.03),
 (10, 5, 'Man to Man', 3.41),
 (11, 6, 'Balck Winter Day', 3.48),
 (12, 6, 'Against Widows', 4.04),
 (13, 7, 'Reptile', 3.36),
 (14, 7, 'Modern Girl', 4.49),
 (15, 8, 'Riding with the King', 4.23),
 (16, 8, 'Key to the Highway', 3.39),
 (17, 9, 'Im Outta Love', 4.02),
 (18, 9, 'Not That Kind', 3.2),
 (19, 10, 'Eruption', 1.43),
 (20, 10, 'Hot For Teacher', 4.43),
 (21, 11, 'Sweet Home Alabama', 4.45),
 (22, 11, 'Free Bird', 14.23),
 (23, 12, 'Thunderstruck', 4.52),
 (24, 12, 'T.N.T', 3.35),
 (25, 13, "Sgt. Pepper's Lonely Hearts Club Band", 2.0333),
 (26, 13, 'With a Little Help from My Friends', 2.7333),
 (27, 13, 'Lucy in the Sky with Diamonds', 3.4666),
 (28, 13, 'Getting Better', 2.8),
 (29, 13, 'Fixing a Hole', 2.6),
 (30, 13, "She's Leaving Home", 3.5833),
 (31, 13, 'Being for the Benefit of Mr. Kite!', 2.6166),
 (32, 13, 'Within You Without You', 5.066),
 (33, 13, "When I'm Sixty-Four", 2.6166),
 (34, 13, 'Lovely Rita', 2.7),
 (35, 13, 'Good Morning Good Morning', 2.6833),
 (36, 13, "Sgt. Pepper's Lonely Hearts Club Band (Reprise)", 1.3166),
 (37, 13, 'A Day in the Life', 5.65)]

In [ ]:
%%sql
select * from record_label

 * sqlite:///cloud1.db
Done.

[(1, 'Blackened'),
 (6, 'Capitol'),
 (5, 'Elektra'),
 (4, 'MCA'),
 (3, 'Universal'),
 (2, 'Warner Bros')]

In [18]:
%%sql
select * from artist

 * sqlite:///cloud1.db
Done.

[(3, 1, 'Anthrax'),
 (2, 1, 'Christina'),
 (1, 1, 'Aerosmith'),
 (4, 2, 'Eric Clapton'),
 (6, 2, 'Amorphis'),
 (5, 2, 'Gary Allan'),
 (8, 3, 'AC/DC'),
 (7, 3, 'Lynyrd Skynyrd'),
 (9, 6, 'Anastacia')]

<b>2. List all artists for each record label sorted by artist name. </b>

In [22]:
%%sql
select artist.name as Artist_Name,  record_label.name as Record_Label_Name from artist join record_label
on artist.record_label_id =  record_label.id order by artist.name

 * sqlite:///cloud1.db
Done.

[('AC/DC', 'Universal'),
 ('Aerosmith', 'Blackened'),
 ('Amorphis', 'Warner Bros'),
 ('Anastacia', 'Capitol'),
 ('Anthrax', 'Blackened'),
 ('Christina', 'Blackened'),
 ('Eric Clapton', 'Warner Bros'),
 ('Gary Allan', 'Warner Bros'),
 ('Lynyrd Skynyrd', 'Universal')]

<B>3.Which record labels have no artists?</b>

In [33]:
%%sql

select record_label.name as Record_Label_Name from record_label left join artist 
on artist.record_label_id = record_label.id where artist.name is Null

 * sqlite:///cloud1.db
Done.

[('Elektra',), ('MCA',)]

<b>4. List the number of songs per artist in descending order</b>

In [60]:
%%sql

select artist.name as Artist_Name , count(Song.name) as No_of_Songs
from ((album join artist on album.artist_id = artist.id) join song on song.album_id = album.id) group by artist.name
order by No_of_Songs DESC , Artist_Name

 * sqlite:///cloud1.db
Done.

[('Anastacia', 13),
 ('Aerosmith', 6),
 ('Christina', 4),
 ('Eric Clapton', 4),
 ('AC/DC', 2),
 ('Amorphis', 2),
 ('Anthrax', 2),
 ('Gary Allan', 2),
 ('Lynyrd Skynyrd', 2)]

<B>5. Which artist or artists have recorded the most number of songs?</B>

In [78]:
%%sql
select artist.name as Artist_Name , count(Song.name) as No_of_Songs
from ((album join artist on album.artist_id = artist.id) join song on song.album_id = album.id) group by artist.name
order by No_of_Songs DESC limit 1

 * sqlite:///cloud1.db
Done.

[('Anastacia', 13)]

<b>6.Which artist or artists have recorded the least number of songs?</b>

In [69]:
%%sql
select artist.name as Artist_Name , count(Song.name) as No_of_Songs
from ((album join artist on album.artist_id = artist.id) join song on song.album_id = album.id) group by artist.name
order by No_of_Songs ASC limit 5

 * sqlite:///cloud1.db
Done.

[('AC/DC', 2),
 ('Amorphis', 2),
 ('Anthrax', 2),
 ('Gary Allan', 2),
 ('Lynyrd Skynyrd', 2)]

<b>7.which artists have recorded songs longer than 5 minutes, and how many songs was that?</b>

In [94]:
%%sql
select artist.name as Artist_Name , count(Song.name) as No_of_Songs_greater_than_5_mins
from ((album join artist on album.artist_id = artist.id) left join song on song.album_id = album.id ) 
where song.duration > 5
group by artist.id

 * sqlite:///cloud1.db
Done.

[('Aerosmith', 4), ('Christina', 1), ('Lynyrd Skynyrd', 1), ('Anastacia', 2)]

<b>8.for each artist and album how many songs were less than 5 minutes long?</b>

In [93]:
%%sql
select artist.name as Artist_Name , album.name as Album_Name ,count(Song.name) as No_of_Songs_greater_than_5_mins
from ((album join artist on album.artist_id = artist.id) left join song on song.album_id = album.id ) 
where song.duration < 5 group by album.id order by Artist_Name

 * sqlite:///cloud1.db
Done.

[('AC/DC', 'Greatest Hits', 2),
 ('Aerosmith', 'Devils got a new disguise', 2),
 ('Amorphis', 'Greatest Hits', 2),
 ('Anastacia', 'Ultimate Collection', 11),
 ('Anthrax', 'Story', 2),
 ('Christina', 'Endgame', 1),
 ('Christina', 'Icon', 2),
 ('Eric Clapton', 'Chapters', 2),
 ('Eric Clapton', 'Riding with the King', 2),
 ('Gary Allan', 'Pieces of a Dream', 2),
 ('Lynyrd Skynyrd', 'All-Time Greatest Hits', 1)]

<b>9.In which year or years were the most songs recorded?</b>

In [98]:
%%sql

select album.year as Year , count(Song.name) as No_of_Songs
from album join song on song.album_id = album.id group by Year 
order by No_of_Songs DESC Limit 1

 * sqlite:///cloud1.db
Done.

[(2015, 13)]

<b>10. list the artist, song and year of the top 5 longest recorded songs</b>

In [99]:
%%sql
select artist.name as Artist_Name , album.name as Album_Name ,Song.name as Song , album.year as Year_recorded, 
song.duration as Duration
from ((album join artist on album.artist_id = artist.id) join song on song.album_id = album.id ) 
order by song.duration desc limit 5

 * sqlite:///cloud1.db
Done.

[('Lynyrd Skynyrd', 'All-Time Greatest Hits', 'Free Bird', 1975, 14.23),
 ('Aerosmith', 'Master of Puppets', 'Master of Puppets', 1986, 8.35),
 ('Anastacia', 'Ultimate Collection', 'A Day in the Life', 2015, 5.65),
 ('Christina', 'Endgame', 'Endgame', 2009, 5.57),
 ('Aerosmith', 'Keeps getting better', 'Genie in a Bottle', 2008, 5.3)]

<b>11.Number of albums recorded for each year</b>

In [101]:
%%sql

select year , count(name) as Number_of_Albums_Recorded from album group by year

 * sqlite:///cloud1.db
Done.

[(1975, 1),
 (1983, 1),
 (1986, 1),
 (2000, 2),
 (2003, 1),
 (2004, 1),
 (2005, 1),
 (2006, 1),
 (2008, 1),
 (2009, 1),
 (2012, 1),
 (2015, 1)]

<b>12. What is the max number of recorded albums across all the years?

-- Hint:  using the above sql as a temp table</b>

In [109]:
%%sql 
CREATE TEMP TABLE  temp_table_album_recorded (Year int(5) NOT NULL PRIMARY KEY,
Number_of_Albums_Recorded int(5))

 * sqlite:///cloud1.db
Done.

[]

In [110]:
%%sql
INSERT INTO  temp_table_album_recorded 
select year ,count(name) from album group by year

 * sqlite:///cloud1.db
12 rows affected.

[]

In [112]:
%%sql


select max(Number_of_Albums_Recorded) as Max_Number_of_Albums_Recorded_in_a_Year from temp_table_album_recorded

 * sqlite:///cloud1.db
Done.

[(2,)]

<b>13. In which year (or years) were the most (max) number of albums recorded, and how many were recorded?

-- Hint: using the above sql as a sub-select</b>

In [128]:
%%sql

select year, Number_of_Albums_Recorded as Max_Number_of_Albums_Recorded_in_a_Year from temp_table_album_recorded
where Number_of_Albums_Recorded = 
(select max(Number_of_Albums_Recorded) as Max_Number_of_Albums_Recorded_in_a_Year from temp_table_album_recorded)

 * sqlite:///cloud1.db
Done.

[(2000, 2)]

<b>14. total duration of all songs recorded by each artist in descending order</b>

In [131]:
%%sql
select artist.name as Artist_Name , round(sum(Song.duration),2) as Total_duration_of_Songs
from ((album join artist on album.artist_id = artist.id) join song on song.album_id = album.id) group by artist.name
order by Total_duration_of_Songs DESC , Artist_Name

 * sqlite:///cloud1.db
Done.

[('Anastacia', 39.87),
 ('Aerosmith', 32.73),
 ('Lynyrd Skynyrd', 18.68),
 ('Eric Clapton', 15.47),
 ('Christina', 15.27),
 ('AC/DC', 7.87),
 ('Anthrax', 7.52),
 ('Gary Allan', 7.22),
 ('Amorphis', 5.86)]

<b>15.for which artist and album are there no songs less than 5 minutes long?</b>

In [58]:
%%sql

select artist.name as Artist_Name , album.name as Album_Name
from ((album left join artist on album.artist_id = artist.id)
      join song on song.album_id = album.id )group by album.id having min(song.duration) > 5

 * sqlite:///cloud1.db
Done.

[('Aerosmith', 'Keeps getting better'), ('Aerosmith', 'Master of Puppets')]

<b>16. Display a table of all artists, albums, songs and song duration 
--     all ordered in ascending order by artist, album and song  </b>

In [152]:
%%sql
select artist.name as Artist_Name , album.name as Album_Name ,Song.name as Song ,
song.duration as Duration
from ((album join artist on album.artist_id = artist.id) join song on song.album_id = album.id ) 
order by Artist_Name,Album_Name,Song ASC

 * sqlite:///cloud1.db
Done.

[('AC/DC', 'Greatest Hits', 'T.N.T', 3.35),
 ('AC/DC', 'Greatest Hits', 'Thunderstruck', 4.52),
 ('Aerosmith', 'Devils got a new disguise', 'Back in the Saddle', 4.4),
 ('Aerosmith', 'Devils got a new disguise', 'Dream On', 4.26),
 ('Aerosmith', 'Keeps getting better', 'Beautiful', 5.29),
 ('Aerosmith', 'Keeps getting better', 'Genie in a Bottle', 5.3),
 ('Aerosmith', 'Master of Puppets', 'Battery', 5.13),
 ('Aerosmith', 'Master of Puppets', 'Master of Puppets', 8.35),
 ('Amorphis', 'Greatest Hits', 'Eruption', 1.43),
 ('Amorphis', 'Greatest Hits', 'Hot For Teacher', 4.43),
 ('Anastacia', 'Ultimate Collection', 'A Day in the Life', 5.65),
 ('Anastacia', 'Ultimate Collection', 'Being for the Benefit of Mr. Kite!', 2.6166),
 ('Anastacia', 'Ultimate Collection', 'Fixing a Hole', 2.6),
 ('Anastacia', 'Ultimate Collection', 'Getting Better', 2.8),
 ('Anastacia', 'Ultimate Collection', 'Good Morning Good Morning', 2.6833),
 ('Anastacia', 'Ultimate Collection', 'Lovely Rita', 2.7),
 ('Anastacia', 'Ultimate Collection', 'Lucy in the Sky with Diamonds', 3.4666),
 ('Anastacia', 'Ultimate Collection', "Sgt. Pepper's Lonely Hearts Club Band", 2.0333),
 ('Anastacia', 'Ultimate Collection', "Sgt. Pepper's Lonely Hearts Club Band (Reprise)", 1.3166),
 ('Anastacia', 'Ultimate Collection', "She's Leaving Home", 3.5833),
 ('Anastacia', 'Ultimate Collection', "When I'm Sixty-Four", 2.6166),
 ('Anastacia', 'Ultimate Collection', 'With a Little Help from My Friends', 2.7333),
 ('Anastacia', 'Ultimate Collection', 'Within You Without You', 5.066),
 ('Anthrax', 'Story', 'Against Widows', 4.04),
 ('Anthrax', 'Story', 'Balck Winter Day', 3.48),
 ('Christina', 'Endgame', 'Dialectic Chaos', 2.26),
 ('Christina', 'Endgame', 'Endgame', 5.57),
 ('Christina', 'Icon', 'Man to Man', 3.41),
 ('Christina', 'Icon', 'Watching Airplanes', 4.03),
 ('Eric Clapton', 'Chapters', 'Modern Girl', 4.49),
 ('Eric Clapton', 'Chapters', 'Reptile', 3.36),
 ('Eric Clapton', 'Riding with the King', 'Key to the Highway', 3.39),
 ('Eric Clapton', 'Riding with the King', 'Riding with the King', 4.23),
 ('Gary Allan', 'Pieces of a Dream', 'Im Outta Love', 4.02),
 ('Gary Allan', 'Pieces of a Dream', 'Not That Kind', 3.2),
 ('Lynyrd Skynyrd', 'All-Time Greatest Hits', 'Free Bird', 14.23),
 ('Lynyrd Skynyrd', 'All-Time Greatest Hits', 'Sweet Home Alabama', 4.45)]

<b>18. Total album length for all songs on the Greatest hits album - in minutes and seconds</b>

In [6]:
%%sql
    
select album.name as Album_Name, SUBSTR(Sum(Song.duration), 0,3) as Mins,  SUBSTR(Sum(Song.duration), 4) as Secs 
from (song join album on song.album_id = album.id) where Album_name = 'Greatest Hits' group by album.name

 * sqlite:///cloud1.db
Done.

[('Greatest Hits', '13', '73')]

<b>19. Which artists did not release an album during the decades of the 1980's and the 1990's?</b>

In [11]:
%%sql
select artist.name as Artist_Name from artist join album on album.artist_id = artist.id 
group by  artist.name having album.year Not Between 1980 and 1990

 * sqlite:///cloud1.db
Done.

[('Amorphis',),
 ('Anastacia',),
 ('Anthrax',),
 ('Christina',),
 ('Eric Clapton',),
 ('Gary Allan',),
 ('Lynyrd Skynyrd',)]

<b>20. Which artists did release an album during the decades of the 1980's and the 1990's?</b>

In [10]:
%%sql

select artist.name as Artist_Name from artist join album on album.artist_id = artist.id 
group by  artist.name having album.year Between 1980 and 1990

 * sqlite:///cloud1.db
Done.

[('AC/DC',), ('Aerosmith',)]

# **FEEDBACK FORM**

https://docs.google.com/forms/d/e/1FAIpQLScnAaAKvph9R3vINyCtOOMiav-tSMsRGlJReMaHyPjsXDlTIA/viewform