In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colWidth', -1)

In [2]:
main_df = pd.read_csv('E:/Data Analytics/workshop/ABD vs Bumrah-20220218T052448Z-001/ABD vs Bumrah/IPL_ball_by_ball_updated.csv')

In [3]:
main_df.dtypes

match_id                  int64
season                    int64
start_date                object
venue                     object
innings                   int64
ball                      float64
batting_team              object
bowling_team              object
striker                   object
non_striker               object
bowler                    object
runs_off_bat              int64
extras                    int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type               object
player_dismissed          object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [4]:
main_df = main_df[(main_df.innings == 1) | (main_df.innings == 2)]
main_df.head()

   match_id  season  start_date                  venue  innings  ball                 batting_team           bowling_team     striker non_striker      bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        6.8   Royal Challengers Bangalore  Kolkata Knight Riders  MV Boucher  CL White    AB Agarkar  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
1  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        2.7   Royal Challengers Bangalore  Kolkata Knight Riders  W Jaffer    JH Kallis   AB Dinda    1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
2  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.1   Royal Challengers Bangalore  Kolkata Knight Riders  W Jaffer    JH Kallis   I Sharma    2             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
3  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.2   Royal Challengers Bangalore  Kolkata Knight Riders  W Jaffer    JH Kallis   I Sharma    1             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN
4  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        3.3   Royal Challengers Bangalore  Kolkata Knight Riders  JH Kallis   W Jaffer    I Sharma    0             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [5]:
season_2008_df = main_df[main_df.season == 2008].reset_index(drop= True)
season_2009_df = main_df[main_df.season == 2009].reset_index(drop= True)
season_2010_df = main_df[main_df.season == 2010].reset_index(drop= True)
season_2011_df = main_df[main_df.season == 2011].reset_index(drop= True)
season_2012_df = main_df[main_df.season == 2012].reset_index(drop= True)
season_2013_df = main_df[main_df.season == 2013].reset_index(drop= True)
season_2014_df = main_df[main_df.season == 2014].reset_index(drop= True)
season_2015_df = main_df[main_df.season == 2015].reset_index(drop= True)
season_2016_df = main_df[main_df.season == 2016].reset_index(drop= True)
season_2017_df = main_df[main_df.season == 2017].reset_index(drop= True)
season_2018_df = main_df[main_df.season == 2018].reset_index(drop= True)
season_2019_df = main_df[main_df.season == 2019].reset_index(drop= True)
season_2020_df = main_df[main_df.season == 2020].reset_index(drop= True)
season_2021_df = main_df[main_df.season == 2021].reset_index(drop= True)

In [6]:
season_2008_df.head(1)

   match_id  season  start_date                  venue  innings  ball                 batting_team           bowling_team     striker non_striker      bowler  runs_off_bat  extras  wides  noballs  byes  legbyes  penalty wicket_type player_dismissed  other_wicket_type  other_player_dismissed
0  335982    2008    2008-04-18  M Chinnaswamy Stadium  2        6.8   Royal Challengers Bangalore  Kolkata Knight Riders  MV Boucher  CL White    AB Agarkar  4             0      NaN    NaN      NaN   NaN      NaN       NaN         NaN             NaN                NaN

In [7]:
#season 2008
season_2008_top_run_off_df = pd.DataFrame(season_2008_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2008_balls_df = pd.DataFrame(season_2008_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2008_top_run_scorer_df = season_2008_top_run_off_df.merge(season_2008_balls_df, on ='striker', how='left')
season_2008_top_run_scorer_df['Strike_rate'] = 100* season_2008_top_run_scorer_df.runs_off_bat/season_2008_top_run_scorer_df.ball

#season 2009
season_2009_top_run_off_df = pd.DataFrame(season_2009_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2009_balls_df = pd.DataFrame(season_2009_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2009_top_run_scorer_df = season_2009_top_run_off_df.merge(season_2009_balls_df, on ='striker', how='left')
season_2009_top_run_scorer_df['Strike_rate'] = 100* season_2009_top_run_scorer_df.runs_off_bat/season_2009_top_run_scorer_df.ball

In [8]:
#season 2010
season_2010_top_run_off_df = pd.DataFrame(season_2010_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2010_balls_df = pd.DataFrame(season_2010_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2010_top_run_scorer_df = season_2010_top_run_off_df.merge(season_2010_balls_df, on ='striker', how='left')
season_2010_top_run_scorer_df['Strike_rate'] = 100* season_2010_top_run_scorer_df.runs_off_bat/season_2010_top_run_scorer_df.ball

#season 2011
season_2011_top_run_off_df = pd.DataFrame(season_2011_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2011_balls_df = pd.DataFrame(season_2011_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2011_top_run_scorer_df = season_2011_top_run_off_df.merge(season_2011_balls_df, on ='striker', how='left')
season_2011_top_run_scorer_df['Strike_rate'] = 100* season_2011_top_run_scorer_df.runs_off_bat/season_2011_top_run_scorer_df.ball

In [9]:
#season 2012
season_2012_top_run_off_df = pd.DataFrame(season_2012_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2012_balls_df = pd.DataFrame(season_2012_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2012_top_run_scorer_df = season_2012_top_run_off_df.merge(season_2012_balls_df, on ='striker', how='left')
season_2012_top_run_scorer_df['Strike_rate'] = 100* season_2012_top_run_scorer_df.runs_off_bat/season_2012_top_run_scorer_df.ball

#season 2013
season_2013_top_run_off_df = pd.DataFrame(season_2013_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2013_balls_df = pd.DataFrame(season_2013_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2013_top_run_scorer_df = season_2013_top_run_off_df.merge(season_2013_balls_df, on ='striker', how='left')
season_2013_top_run_scorer_df['Strike_rate'] = 100* season_2013_top_run_scorer_df.runs_off_bat/season_2013_top_run_scorer_df.ball

In [10]:
#season 2012
season_2012_top_run_off_df = pd.DataFrame(season_2012_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2012_balls_df = pd.DataFrame(season_2012_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2012_top_run_scorer_df = season_2012_top_run_off_df.merge(season_2012_balls_df, on ='striker', how='left')
season_2012_top_run_scorer_df['Strike_rate'] = 100* season_2012_top_run_scorer_df.runs_off_bat/season_2012_top_run_scorer_df.ball

#season 2013
season_2013_top_run_off_df = pd.DataFrame(season_2013_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2013_balls_df = pd.DataFrame(season_2013_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2013_top_run_scorer_df = season_2013_top_run_off_df.merge(season_2013_balls_df, on ='striker', how='left')
season_2013_top_run_scorer_df['Strike_rate'] = 100* season_2013_top_run_scorer_df.runs_off_bat/season_2013_top_run_scorer_df.ball

In [11]:
#season 2014
season_2014_top_run_off_df = pd.DataFrame(season_2014_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2014_balls_df = pd.DataFrame(season_2014_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2014_top_run_scorer_df = season_2014_top_run_off_df.merge(season_2014_balls_df, on ='striker', how='left')
season_2014_top_run_scorer_df['Strike_rate'] = 100* season_2014_top_run_scorer_df.runs_off_bat/season_2014_top_run_scorer_df.ball

#season 2015
season_2015_top_run_off_df = pd.DataFrame(season_2015_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2015_balls_df = pd.DataFrame(season_2015_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2015_top_run_scorer_df = season_2015_top_run_off_df.merge(season_2015_balls_df, on ='striker', how='left')
season_2015_top_run_scorer_df['Strike_rate'] = 100* season_2015_top_run_scorer_df.runs_off_bat/season_2015_top_run_scorer_df.ball

In [12]:
#season 2016
season_2016_top_run_off_df = pd.DataFrame(season_2016_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2016_balls_df = pd.DataFrame(season_2016_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2016_top_run_scorer_df = season_2016_top_run_off_df.merge(season_2016_balls_df, on ='striker', how='left')
season_2016_top_run_scorer_df['Strike_rate'] = 100* season_2016_top_run_scorer_df.runs_off_bat/season_2016_top_run_scorer_df.ball

#season 2017
season_2017_top_run_off_df = pd.DataFrame(season_2017_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2017_balls_df = pd.DataFrame(season_2017_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2017_top_run_scorer_df = season_2017_top_run_off_df.merge(season_2017_balls_df, on ='striker', how='left')
season_2017_top_run_scorer_df['Strike_rate'] = 100* season_2017_top_run_scorer_df.runs_off_bat/season_2017_top_run_scorer_df.ball

In [13]:
#season 2018
season_2018_top_run_off_df = pd.DataFrame(season_2018_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2018_balls_df = pd.DataFrame(season_2018_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2018_top_run_scorer_df = season_2018_top_run_off_df.merge(season_2018_balls_df, on ='striker', how='left')
season_2018_top_run_scorer_df['Strike_rate'] = 100* season_2018_top_run_scorer_df.runs_off_bat/season_2018_top_run_scorer_df.ball

#season 2019
season_2019_top_run_off_df = pd.DataFrame(season_2019_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2019_balls_df = pd.DataFrame(season_2019_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2019_top_run_scorer_df = season_2019_top_run_off_df.merge(season_2019_balls_df, on ='striker', how='left')
season_2019_top_run_scorer_df['Strike_rate'] = 100* season_2019_top_run_scorer_df.runs_off_bat/season_2019_top_run_scorer_df.ball

In [14]:
#season 2020
season_2020_top_run_off_df = pd.DataFrame(season_2020_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2020_balls_df = pd.DataFrame(season_2020_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2020_top_run_scorer_df = season_2020_top_run_off_df.merge(season_2020_balls_df, on ='striker', how='left')
season_2020_top_run_scorer_df['Strike_rate'] = 100* season_2020_top_run_scorer_df.runs_off_bat/season_2020_top_run_scorer_df.ball

#season 2021
season_2021_top_run_off_df = pd.DataFrame(season_2021_df.groupby('striker')['runs_off_bat'].sum()).sort_values(by = ['runs_off_bat'] , ascending=False).reset_index()
season_2021_balls_df = pd.DataFrame(season_2021_df.groupby('striker')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2021_top_run_scorer_df = season_2021_top_run_off_df.merge(season_2021_balls_df, on ='striker', how='left')
season_2021_top_run_scorer_df['Strike_rate'] = 100* season_2021_top_run_scorer_df.runs_off_bat/season_2021_top_run_scorer_df.ball

In [15]:
season_2008_top_run_scorer_df.head(2)

     striker  runs_off_bat  ball  Strike_rate
0  SE Marsh   616           452   136.283186
1  G Gambhir  534           394   135.532995

In [16]:
season_2009_top_run_scorer_df.head(2)

        striker  runs_off_bat  ball  Strike_rate
0  ML Hayden     572           409   139.853301
1  AC Gilchrist  495           337   146.884273

In [17]:
season_2010_top_run_scorer_df.head(2)

        striker  runs_off_bat  ball  Strike_rate
0  SR Tendulkar  617           488   126.434426
1  JH Kallis     572           517   110.638298

In [18]:
season_2011_top_run_scorer_df.head(2)

    striker  runs_off_bat  ball  Strike_rate
0  CH Gayle  608           342   177.777778
1  V Kohli   557           473   117.758985

In [19]:
season_2012_top_run_scorer_df.head(2)

     striker  runs_off_bat  ball  Strike_rate
0  CH Gayle   733           472   155.296610
1  G Gambhir  590           429   137.529138

In [20]:
season_2013_top_run_scorer_df.head(2)

      striker  runs_off_bat  ball  Strike_rate
0  MEK Hussey  733           580   126.379310
1  CH Gayle    708           478   148.117155

In [21]:
season_2014_top_run_scorer_df.head(2)

      striker  runs_off_bat  ball  Strike_rate
0  RV Uthappa  660           485   136.082474
1  DR Smith    566           425   133.176471

In [22]:
season_2015_top_run_scorer_df.head(2)

     striker  runs_off_bat  ball  Strike_rate
0  DA Warner  562           368   152.717391
1  AM Rahane  540           423   127.659574

In [23]:
season_2016_top_run_scorer_df.head(2)

     striker  runs_off_bat  ball  Strike_rate
0  V Kohli    973           655   148.549618
1  DA Warner  848           579   146.459413

In [24]:
season_2017_top_run_scorer_df.head(2)

     striker  runs_off_bat  ball  Strike_rate
0  DA Warner  641           462   138.744589
1  G Gambhir  498           405   122.962963

In [25]:
season_2018_top_run_scorer_df.head(2)

         striker  runs_off_bat  ball  Strike_rate
0  KS Williamson  735           522   140.804598
1  RR Pant        684           412   166.019417

In [26]:
season_2019_top_run_scorer_df.head(2)

     striker  runs_off_bat  ball  Strike_rate
0  DA Warner  692           496   139.516129
1  KL Rahul   593           447   132.662192

In [27]:
season_2020_top_run_scorer_df.head(2)

    striker  runs_off_bat  ball  Strike_rate
0  KL Rahul  670           525   127.619048
1  S Dhawan  618           433   142.725173

In [28]:

season_2021_top_run_scorer_df.head(2)

        striker  runs_off_bat  ball  Strike_rate
0  RD Gaikwad    635           474   133.966245
1  F du Plessis  633           471   134.394904

In [29]:
season_2008_df.wicket_type.unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'stumped',
       'retired hurt', 'caught and bowled', 'hit wicket'], dtype=object)

In [ ]:
def top_wicket_getter(dataFrame):
    season_bowl_df = dataFrame
    season_bowl_df = season_bowl_df[season_bowl_df.wicket_type != 'retired hurt']
    season_bowl_df = season_bowl_df[season_bowl_df.wicket_type != 'run out']
    season_bowl_df = season_bowl_df.dropna(subset = ['wicket_type'])
    season_bowler_df = pd.DataFrame(season_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
    season_ball_df = pd.DataFrame(dataFrame.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
    season_top_bowler_df = season_bowler_df.merge(season_ball_df , on = 'bowler' , how = 'left')
    season_top_bowler_df['Strike_rate'] = season_top_bowler_df.ball / season_top_bowler_df.wicket_type
    season_top_bowler_df = season_top_bowler_df.rename(columns={"wicket_type":"wickets"})
    return season_top_bowler_df

In [30]:
season_2008_bowl_df = season_2008_df
season_2008_bowl_df = season_2008_bowl_df[season_2008_bowl_df.wicket_type != 'retired hurt']
season_2008_bowl_df = season_2008_bowl_df[season_2008_bowl_df.wicket_type != 'run out']
season_2008_bowl_df = season_2008_bowl_df.dropna(subset = ['wicket_type'])
season_2008_bowler_df = pd.DataFrame(season_2008_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2008_ball_df = pd.DataFrame(season_2008_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2008_top_bowler_df = season_2008_bowler_df.merge(season_2008_ball_df , on = 'bowler' , how = 'left')
season_2008_top_bowler_df['Strike_rate'] = season_2008_top_bowler_df.ball / season_2008_top_bowler_df.wicket_type
season_2008_top_bowler_df = season_2008_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [31]:
season_2009_bowl_df = season_2009_df
season_2009_bowl_df = season_2009_bowl_df[season_2009_bowl_df.wicket_type != 'retired hurt']
season_2009_bowl_df = season_2009_bowl_df[season_2009_bowl_df.wicket_type != 'run out']
season_2009_bowl_df = season_2009_bowl_df.dropna(subset = ['wicket_type'])
season_2009_bowler_df = pd.DataFrame(season_2009_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2009_ball_df = pd.DataFrame(season_2009_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2009_top_bowler_df = season_2009_bowler_df.merge(season_2009_ball_df , on = 'bowler' , how = 'left')
season_2009_top_bowler_df['Strike_rate'] = season_2009_top_bowler_df.ball / season_2009_top_bowler_df.wicket_type
season_2009_top_bowler_df = season_2009_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [32]:
season_2010_bowl_df = season_2010_df
season_2010_bowl_df = season_2010_bowl_df[season_2010_bowl_df.wicket_type != 'retired hurt']
season_2010_bowl_df = season_2010_bowl_df[season_2010_bowl_df.wicket_type != 'run out']
season_2010_bowl_df = season_2010_bowl_df.dropna(subset = ['wicket_type'])
season_2010_bowler_df = pd.DataFrame(season_2010_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2010_ball_df = pd.DataFrame(season_2010_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2010_top_bowler_df = season_2010_bowler_df.merge(season_2010_ball_df , on = 'bowler' , how = 'left')
season_2010_top_bowler_df['Strike_rate'] = season_2010_top_bowler_df.ball / season_2010_top_bowler_df.wicket_type
season_2010_top_bowler_df = season_2010_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [33]:
season_2011_bowl_df = season_2011_df
season_2011_bowl_df = season_2011_bowl_df[season_2011_bowl_df.wicket_type != 'retired hurt']
season_2011_bowl_df = season_2011_bowl_df[season_2011_bowl_df.wicket_type != 'run out']
season_2011_bowl_df = season_2011_bowl_df.dropna(subset = ['wicket_type'])
season_2011_bowler_df = pd.DataFrame(season_2011_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2011_ball_df = pd.DataFrame(season_2011_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2011_top_bowler_df = season_2011_bowler_df.merge(season_2011_ball_df , on = 'bowler' , how = 'left')
season_2011_top_bowler_df['Strike_rate'] = season_2011_top_bowler_df.ball / season_2011_top_bowler_df.wicket_type
season_2011_top_bowler_df = season_2011_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [34]:
season_2012_bowl_df = season_2012_df
season_2012_bowl_df = season_2012_bowl_df[season_2012_bowl_df.wicket_type != 'retired hurt']
season_2012_bowl_df = season_2012_bowl_df[season_2012_bowl_df.wicket_type != 'run out']
season_2012_bowl_df = season_2012_bowl_df.dropna(subset = ['wicket_type'])
season_2012_bowler_df = pd.DataFrame(season_2012_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2012_ball_df = pd.DataFrame(season_2012_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2012_top_bowler_df = season_2012_bowler_df.merge(season_2012_ball_df , on = 'bowler' , how = 'left')
season_2012_top_bowler_df['Strike_rate'] = season_2012_top_bowler_df.ball / season_2012_top_bowler_df.wicket_type
season_2012_top_bowler_df = season_2012_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [35]:
season_2013_bowl_df = season_2013_df
season_2013_bowl_df = season_2013_bowl_df[season_2013_bowl_df.wicket_type != 'retired hurt']
season_2013_bowl_df = season_2013_bowl_df[season_2013_bowl_df.wicket_type != 'run out']
season_2013_bowl_df = season_2013_bowl_df.dropna(subset = ['wicket_type'])
season_2013_bowler_df = pd.DataFrame(season_2013_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2013_ball_df = pd.DataFrame(season_2013_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2013_top_bowler_df = season_2013_bowler_df.merge(season_2013_ball_df , on = 'bowler' , how = 'left')
season_2013_top_bowler_df['Strike_rate'] = season_2013_top_bowler_df.ball / season_2013_top_bowler_df.wicket_type
season_2013_top_bowler_df = season_2013_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [36]:
season_2014_bowl_df = season_2014_df
season_2014_bowl_df = season_2014_bowl_df[(season_2014_bowl_df.innings == 1) | (season_2014_bowl_df.innings == 2)]
season_2014_bowl_df = season_2014_bowl_df[season_2014_bowl_df.wicket_type != 'retired hurt']
season_2014_bowl_df = season_2014_bowl_df[season_2014_bowl_df.wicket_type != 'run out']
season_2014_bowl_df = season_2014_bowl_df.dropna(subset = ['wicket_type'])
season_2014_bowler_df = pd.DataFrame(season_2014_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2014_ball_df = pd.DataFrame(season_2014_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2014_top_bowler_df = season_2014_bowler_df.merge(season_2014_ball_df , on = 'bowler' , how = 'left')
season_2014_top_bowler_df['Strike_rate'] = season_2014_top_bowler_df.ball / season_2014_top_bowler_df.wicket_type
season_2014_top_bowler_df = season_2014_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [37]:
season_2015_bowl_df = season_2015_df
season_2015_bowl_df = season_2015_bowl_df[season_2015_bowl_df.wicket_type != 'retired hurt']
season_2015_bowl_df = season_2015_bowl_df[season_2015_bowl_df.wicket_type != 'run out']
season_2015_bowl_df = season_2015_bowl_df.dropna(subset = ['wicket_type'])
season_2015_bowler_df = pd.DataFrame(season_2015_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2015_ball_df = pd.DataFrame(season_2015_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2015_top_bowler_df = season_2015_bowler_df.merge(season_2015_ball_df , on = 'bowler' , how = 'left')
season_2015_top_bowler_df['Strike_rate'] = season_2015_top_bowler_df.ball / season_2015_top_bowler_df.wicket_type
season_2015_top_bowler_df = season_2015_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [38]:
season_2016_bowl_df = season_2016_df
season_2016_bowl_df = season_2016_bowl_df[season_2016_bowl_df.wicket_type != 'retired hurt']
season_2016_bowl_df = season_2016_bowl_df[season_2016_bowl_df.wicket_type != 'run out']
season_2016_bowl_df = season_2016_bowl_df.dropna(subset = ['wicket_type'])
season_2016_bowler_df = pd.DataFrame(season_2016_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2016_ball_df = pd.DataFrame(season_2016_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2016_top_bowler_df = season_2016_bowler_df.merge(season_2016_ball_df , on = 'bowler' , how = 'left')
season_2016_top_bowler_df['Strike_rate'] = season_2016_top_bowler_df.ball / season_2016_top_bowler_df.wicket_type
season_2016_top_bowler_df = season_2016_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [39]:
season_2017_bowl_df = season_2017_df
season_2017_bowl_df = season_2017_bowl_df[season_2017_bowl_df.wicket_type != 'retired hurt']
season_2017_bowl_df = season_2017_bowl_df[season_2017_bowl_df.wicket_type != 'run out']
season_2017_bowl_df = season_2017_bowl_df.dropna(subset = ['wicket_type'])
season_2017_bowler_df = pd.DataFrame(season_2017_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2017_ball_df = pd.DataFrame(season_2017_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2017_top_bowler_df = season_2017_bowler_df.merge(season_2017_ball_df , on = 'bowler' , how = 'left')
season_2017_top_bowler_df['Strike_rate'] = season_2017_top_bowler_df.ball / season_2017_top_bowler_df.wicket_type
season_2017_top_bowler_df = season_2017_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [40]:
season_2018_bowl_df = season_2018_df
season_2018_bowl_df = season_2018_bowl_df[season_2018_bowl_df.wicket_type != 'retired hurt']
season_2018_bowl_df = season_2018_bowl_df[season_2018_bowl_df.wicket_type != 'run out']
season_2018_bowl_df = season_2018_bowl_df.dropna(subset = ['wicket_type'])
season_2018_bowler_df = pd.DataFrame(season_2018_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2018_ball_df = pd.DataFrame(season_2018_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2018_top_bowler_df = season_2018_bowler_df.merge(season_2018_ball_df , on = 'bowler' , how = 'left')
season_2018_top_bowler_df['Strike_rate'] = season_2018_top_bowler_df.ball / season_2018_top_bowler_df.wicket_type
season_2018_top_bowler_df = season_2018_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [41]:
season_2019_bowl_df = season_2019_df
season_2019_bowl_df = season_2019_bowl_df[season_2019_bowl_df.wicket_type != 'retired hurt']
season_2019_bowl_df = season_2019_bowl_df[season_2019_bowl_df.wicket_type != 'run out']
season_2019_bowl_df = season_2019_bowl_df.dropna(subset = ['wicket_type'])
season_2019_bowler_df = pd.DataFrame(season_2019_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2019_ball_df = pd.DataFrame(season_2019_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2019_top_bowler_df = season_2019_bowler_df.merge(season_2019_ball_df , on = 'bowler' , how = 'left')
season_2019_top_bowler_df['Strike_rate'] = season_2019_top_bowler_df.ball / season_2019_top_bowler_df.wicket_type
season_2019_top_bowler_df = season_2019_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [42]:
season_2020_bowl_df = season_2020_df
season_2020_bowl_df = season_2020_bowl_df[season_2020_bowl_df.wicket_type != 'retired hurt']
season_2020_bowl_df = season_2020_bowl_df[season_2020_bowl_df.wicket_type != 'run out']
season_2020_bowl_df = season_2020_bowl_df.dropna(subset = ['wicket_type'])
season_2020_bowler_df = pd.DataFrame(season_2020_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2020_ball_df = pd.DataFrame(season_2020_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2020_top_bowler_df = season_2020_bowler_df.merge(season_2020_ball_df , on = 'bowler' , how = 'left')
season_2020_top_bowler_df['Strike_rate'] = season_2020_top_bowler_df.ball / season_2020_top_bowler_df.wicket_type
season_2020_top_bowler_df = season_2020_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [43]:
season_2021_bowl_df = season_2021_df
season_2021_bowl_df = season_2021_bowl_df[season_2021_bowl_df.wicket_type != 'retired hurt']
season_2021_bowl_df = season_2021_bowl_df[season_2021_bowl_df.wicket_type != 'run out']
season_2021_bowl_df = season_2021_bowl_df.dropna(subset = ['wicket_type'])
season_2021_bowler_df = pd.DataFrame(season_2021_bowl_df.groupby('bowler')['wicket_type'].count()).sort_values(by = ['wicket_type'] , ascending=False).reset_index()
season_2021_ball_df = pd.DataFrame(season_2021_df.groupby('bowler')['ball'].count()).sort_values(by = ['ball'] , ascending=False).reset_index()
season_2021_top_bowler_df = season_2021_bowler_df.merge(season_2021_ball_df , on = 'bowler' , how = 'left')
season_2021_top_bowler_df['Strike_rate'] = season_2021_top_bowler_df.ball / season_2021_top_bowler_df.wicket_type
season_2021_top_bowler_df = season_2021_top_bowler_df.rename(columns={"wicket_type":"wickets"})

In [60]:
new_df = top_wicket_getter(season_2021_df)

In [61]:
new_df.head(2)

       bowler  wickets  ball  Strike_rate
0  HV Patel    32       361   11.281250
1  Avesh Khan  24       383   15.958333

In [44]:
season_2008_top_bowler_df.head(2)

          bowler  wickets  ball  Strike_rate
0  Sohail Tanvir  22       265   12.045455
1  SK Warne       19       319   16.789474

In [45]:
season_2009_top_bowler_df.head(2)

     bowler  wickets  ball  Strike_rate
0  RP Singh  23       382   16.608696
1  A Kumble  21       358   17.047619

In [46]:
season_2010_top_bowler_df.head(2)

     bowler  wickets  ball  Strike_rate
0  PP Ojha   21       360   17.142857
1  A Kumble  17       389   22.882353

In [47]:
season_2011_top_bowler_df.head(2)

       bowler  wickets  ball  Strike_rate
0  SL Malinga  28       397   14.178571
1  MM Patel    22       329   14.954545

In [48]:
season_2012_top_bowler_df.head(2)

      bowler  wickets  ball  Strike_rate
0  M Morkel   25       389   15.560
1  SP Narine  24       357   14.875

In [49]:
season_2013_top_bowler_df.head(2)

        bowler  wickets  ball  Strike_rate
0  DJ Bravo     32       392   12.250000
1  JP Faulkner  28       395   14.107143

In [50]:
season_2014_top_bowler_df.head(2)

      bowler  wickets  ball  Strike_rate
0  MM Sharma  23       324   14.086957
1  SP Narine  21       386   18.380952

In [51]:
season_2015_top_bowler_df.head(2)

       bowler  wickets  ball  Strike_rate
0  DJ Bravo    26       324   12.461538
1  SL Malinga  24       378   15.750000

In [52]:
season_2016_top_bowler_df.head(2)

      bowler  wickets  ball  Strike_rate
0  B Kumar    23       414   18.000000
1  YS Chahal  21       308   14.666667

In [53]:
season_2017_top_bowler_df.head(2)

       bowler  wickets  ball  Strike_rate
0  B Kumar     26       324   12.461538
1  JD Unadkat  24       279   11.625000

In [54]:
season_2018_top_bowler_df.head(2)

        bowler  wickets  ball  Strike_rate
0  AJ Tye       24       353   14.708333
1  Rashid Khan  21       411   19.571429

In [55]:
season_2019_top_bowler_df.head(2)

        bowler  wickets  ball  Strike_rate
0  Imran Tahir  26       388   14.923077
1  K Rabada     25       292   11.680000

In [56]:
season_2020_top_bowler_df.head(2)

      bowler  wickets  ball  Strike_rate
0  K Rabada   30       411   13.700000
1  JJ Bumrah  27       372   13.777778

In [57]:
season_2021_top_bowler_df.head(2)

       bowler  wickets  ball  Strike_rate
0  HV Patel    32       361   11.281250
1  Avesh Khan  24       383   15.958333