In [1]:
import pandas as pd
import glob
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', -1)
pd.set_option('display.expand_frame_repr', False)

In [2]:
df = pd.read_csv('feature_data.csv')

In [3]:
df.head()

   match_id  innings batting_team bowling_team  overs  over  ball  runs_off_bat  total_runs  player_dismissed  total  cumulative_total  is_out  total_wickets  cumulative_wicket  prev_30Balls_runs  prev_30Balls_wickets  prev_30Balls_Dots  prev_30Balls_boundaries
0  211028    1        England      Australia    0.1    0     1     0             0           0                 179    0                 0       8              0                  0                  0                     1                  0
1  211028    1        England      Australia    0.2    0     2     1             1           0                 179    1                 0       8              0                  1                  0                     1                  0
2  211028    1        England      Australia    0.3    0     3     0             0           0                 179    1                 0       8              0                  1                  0                     2                  0
3  211028    1        England      Australia    0.4    0     4     0             0           0                 179    1                 0       8              0                  1                  0                     3                  0
4  211028    1        England      Australia    0.5    0     5     0             0           0                 179    1                 0       8              0                  1                  0                     4                  0

In [4]:
df = pd.get_dummies(data = df , columns=['batting_team' , 'bowling_team'])

In [5]:
df.columns

Index(['match_id', 'innings', 'overs', 'over', 'ball', 'runs_off_bat',
       'total_runs', 'player_dismissed', 'total', 'cumulative_total', 'is_out',
       'total_wickets', 'cumulative_wicket', 'prev_30Balls_runs',
       'prev_30Balls_wickets', 'prev_30Balls_Dots', 'prev_30Balls_boundaries',
       'batting_team_Afghanistan', 'batting_team_Australia',
       'batting_team_Bangladesh', 'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'batting_team_Zimbabwe',
       'bowling_team_Afghanistan', 'bowling_team_Australia',
       'bowling_team_Bangladesh', 'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies', 'bowling_team_Zimbabwe'],
      dtype='object')

In [6]:
df=df[['match_id','batting_team_Australia','batting_team_Bangladesh', 'batting_team_England', 'batting_team_India','batting_team_New Zealand','batting_team_Pakistan', 
       'batting_team_South Africa', 'batting_team_Sri Lanka','batting_team_West Indies','bowling_team_Australia', 'bowling_team_Bangladesh', 'bowling_team_England',
        'bowling_team_India', 'bowling_team_New Zealand', 'bowling_team_Pakistan','bowling_team_South Africa', 'bowling_team_Sri Lanka','bowling_team_West Indies',
            'overs','cumulative_total','cumulative_wicket','prev_30Balls_runs','prev_30Balls_wickets','prev_30Balls_Dots','prev_30Balls_boundaries','total']]

# Train_Test_Split

In [7]:
X = df.drop(labels =['total' , 'match_id'] , axis = 1)
Y = df['total'].values

In [8]:
#spli Tain and Test
X_train , X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.25 , random_state=42 , stratify=Y)
X_train=X_train.values
X_test=X_test.values
X_train=np.asarray(X_train).astype(np.float32)
X_test=np.asarray(X_test).astype(np.float32)

print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)
X_train

(104023, 25) (34675, 25) (104023,) (34675,)

array([[ 0.,  0.,  0., ...,  0.,  1.,  1.],
       [ 0.,  0.,  0., ...,  0.,  9.,  7.],
       [ 0.,  0.,  0., ...,  1.,  4.,  4.],
       ...,
       [ 0.,  0.,  1., ...,  0.,  6.,  8.],
       [ 0.,  0.,  1., ...,  2., 11.,  1.],
       [ 0.,  0.,  0., ...,  2.,  7.,  4.]], dtype=float32)

In [9]:
LR_Model = LinearRegression()
LR_Model.fit(X_train,Y_train)

LinearRegression()

In [10]:
filename = 'lr-model.pkl'
pickle.dump(LR_Model , open(filename,'wb'))

In [11]:
prediction = LR_Model.predict(X_test)
mean_absolute_error(Y_test,prediction)

18.110364312114868

In [ ]:
classifier = LogisticRegression(multi_class='auto')
classifier.fit(X_train, Y_train)

prediction1 = classifier.predict(X_test)
100*accuracy_score(Y_test,prediction1)

In [ ]:
# Function to predict scores :

def score_prediction(Bat_Team,Bowl_Team,overs,total_score,total_wickets,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries):

    temp_array = list()

    if Bat_Team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bat_Team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bat_Team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bat_Team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bat_Team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bat_Team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bat_Team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bat_Team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bat_Team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]

    if Bowl_Team == 'AUS':
        temp_array = temp_array + [1,0,0,0,0,0,0,0,0]
    elif Bowl_Team == 'BAN':
        temp_array = temp_array + [0,1,0,0,0,0,0,0,0]
    elif Bowl_Team == 'ENG':
        temp_array = temp_array + [0,0,1,0,0,0,0,0,0]
    elif Bowl_Team == 'IND':
        temp_array = temp_array + [0,0,0,1,0,0,0,0,0]
    elif Bowl_Team == 'NZ':
        temp_array = temp_array + [0,0,0,0,1,0,0,0,0]
    elif Bowl_Team == 'PAK':
        temp_array = temp_array + [0,0,0,0,0,1,0,0,0]
    elif Bowl_Team == 'SA':
        temp_array = temp_array + [0,0,0,0,0,0,1,0,0]
    elif Bowl_Team == 'SL':
        temp_array = temp_array + [0,0,0,0,0,0,0,1,0]
    elif Bowl_Team == 'WI':
        temp_array = temp_array + [0,0,0,0,0,0,0,0,1]

    temp_array = temp_array + [overs,total_score,total_wickets,prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries]
    data = np.array([temp_array])
    my_prediction = int(LR_Model.predict(data))
    my_prediction1 = int(classifier.predict(data))

    print('Predicted score: ',my_prediction)
    print('Predicted score: ',my_prediction1)
    print('Predicted score range: ',my_prediction - 18, 'to' , my_prediction + 18)
    

    
Bat_Team = 'IND' 

Bowl_Team = 'AUS' 

overs = 10.3

total_score = 100 # current score

total_wickets = 5 # current wicket 

prev_runs_30 = 30 # runs in last 30 balls

prev_wickets_30 = 5 # wickets in last 30 balls

prev_30_dot_balls = 5 # dots in last 30 balls

prev_30_boundaries = 5 # boundaries in last 30 balls

score_prediction(Bat_Team,Bowl_Team,overs,total_score,total_wickets,
                         prev_runs_30,prev_wickets_30,prev_30_dot_balls,prev_30_boundaries)